@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#dogs__body {
    background-color: rgb(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

img {
    width: 100%;
}

nav {
    height: 80px;
    display: flex;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav__container {
    width: 100%;
    max-width: 1400px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

.logo {
    width: 100px;
    border-radius: 50%;
}

ul {
    display: flex;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid black;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: white;
    display: none;
}

.btn {
    background-color: black;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}

.container {
    padding: 56px 0;
}

#dogs__main {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.dogs__header--title {
    margin-bottom: 0;
}

h2 {
    font-size: 50px;
    margin-bottom: 32px;
    text-align: center;
}

.dog {
    width: 25%;
    padding: 24px;
}

.dog__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    width: 300px;
}

.dog__img {
    width: 100%;
    max-height: 380px;
    transition: all 300ms ease;
    cursor: not-allowed;
    object-fit: contain;
    object-position: left;
}

.dog__title {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}

.dogs__breed {
    font: 20px;
    margin-bottom: 8px;
    font-weight: 500;
}

.dog__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    justify-content: center;
    margin-bottom: auto;
    gap: 20px;
}

li {
    margin-bottom: 8px;
    line-height: 1.5;
}



